<ul class="container nav nav-pills mt-4 mb-4 p-2">
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="viewMode == 'map'"
      (click)="viewMode = 'map'"
      >Map View</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="viewMode == 'list'"
      (click)="viewMode = 'list'"
      >List View</a
    >
  </li>
</ul>

<div class="container" [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map</div>
  <div *ngSwitchCase="'list'">List</div>
</div>
